.App {
  text-align: center;
  background-color: #282c34;
  color:#ffe6e6;
}

.App-logo {
  border-radius: 50%;
  border: 1px solid #ff4a4a;
  width: 300px;
  filter: brightness(110%)
}


.nameTitle{
  margin-top: 0px;
  margin-bottom: 0px;
}
.jobTitle{
  margin-top: 0px;
}

.links{
  font-size: 20px;
  display: flex;
  flex-direction: row;
}

button {
  background:none;
  border:none;
  cursor: pointer;
  color: #ffe6e6;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #ff4a4a;
  font-size: 45px;
  text-decoration: none;
  padding: 15px;
}
button:hover {
   color: #ff4a4a;
   -webkit-text-stroke-width: 1px;
   -webkit-text-stroke-color: #ffe6e6;
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color:#ffe6e6;
}

.Section{
  padding-bottom: 30px;
}

.Project{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.project-image.wrapper{
  /* position: relative; */
  width: 350px;
  height: 350px;
  margin: 10px;
}

.project-image-wrapper img {
  width: 350px;
  height: 350px;
  border-radius: 4px;
  transition: .3s;
  margin-left: 10px;
  margin-right: 10px;
  filter: brightness(90%);
  cursor: pointer;
}

.project-image-wrapper img:hover {
  filter: brightness(110%);
}

.project-description{
  width: 350px;
  height: 350px;
  text-align: center;
  align-items: center;
  visibility: hidden;
}

.project-image-wrapper:hover .project-description {
  visibility: visible;
  opacity: 1;
  transition: opacity .2s, visibility .2s;
}

.About-imgs {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.About-imgs img{
  width: 18%;
  border-radius: 4px;
  margin-right:10px;
  margin-left: 10px;
}

.About-content {
  width: 60%;
  text-align: center;
  font-size: 16px;
  margin: 0 auto;
}

.connect-icons{
  margin-left: 10px;
  margin-right: 10px;
  cursor: pointer;
}
