.App {
  text-align: center;
  background-color: #282c34;
}

.App-logo {
  border-radius: 50%;
  border: 1px solid #ff4a4a;
  width: 300px;
}

.nameTitle{
  margin-top: 0px;
  margin-bottom: 0px;
}
.jobTitle{
  margin-top: 0px;
}

.links{
  font-size: 20px;
  display: flex;
  flex-direction: row;
}

button {
  background:none;
  border:none;
  cursor: pointer;
  color: #ffe6e6;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #ff4a4a;
  font-size: 45px;
  text-decoration: none;
  padding: 15px;
}
button:hover {
   color: #ff4a4a;
   -webkit-text-stroke-width: 1px;
   -webkit-text-stroke-color: #ffe6e6;
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color:#ffe6e6;
}

.Projects{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding-bottom: 30px;
}

.Project-img {
  width: 300px;
}

/* .display-enter {
  top: var(--menu-starting-top);
  width: var(--toggler-width);
  max-height: var(--toggler-height);
  color: var(--fade-from-color);
  background-color: var(--toggler-bg-color);
}

.display-enter-active {
  top: var(--menu-ending-top);
  width: var(--menu-width);
  max-height: var(--menu-max-height);
  color: var(--fade-to-color);
  background-color: var(--menu-bg-color);
  transition: all var(--timeout);
}

.display-exit {
  top: var(--menu-ending-top);
  width: var(--menu-width);
  max-height: var(--menu-max-height);
  color: var(--fade-to-color);
  background-color: var(--menu-bg-color);
}

.display-exit-active {
  top: var(--menu-starting-top);
  width: var(--toggler-width);
  max-height: var(--toggler-height);
  color: var(--fade-from-color);
  background-color: var(--toggler-bg-color);
  transition: all var(--timeout);
} */
